
@{
    ViewBag.Title = "Product List";
}
@model IEnumerable<ProductResponse>

<div class="p-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span>
                <span>All Products</span>
            </strong>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;">#</th>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Categories</th>
                        <th class="text-center">In-Stock</th>
                        <th class="text-center">Buying Price</th>
                        <th class="text-center">Selling Price</th>
                        <th class="text-center">Product Added</th>
                        <th class="text-center" style="width: 100px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        int index = 0;
                        foreach (ProductResponse product in Model)
                        {
                            index++;

                            <tr>
                                <td class="text-center">@index</td>
                                <td class="text-center">@product.ProductName</td>
                                <td class="text-center">@product.Category.CategoryName</td>
                                <td class="text-center">@product.Quantity</td>
                                <td class="text-center">@product.BuyingPrice</td>
                                <td class="text-center">@product.SellingPrice</td>
                                <td class="text-center">@product.ProductAddedTime?.ToString("dd MMM yyyy")</td>



                                <td class="text-center">
                                    <a asp-controller="Product" asp-action="Edit" asp-route-ID="@product.ProductID"><i class="fa fa-edit"></i></a>
                                    <a asp-controller="Product" asp-action="Delete" asp-route-ID="@product?.ProductID"><i class="fa fa-trash text-danger"></i></a>

                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

